%footer.navbar-inverse
  .container
    .row
      .col-sm-9
        %ul.list-inline.general-align.mb-25
          %li
            = link_to t('footer.home'), root_path, class: 'nav-link link-footer'
          %li
            = link_to t('footer.shop'), books_path, class: 'nav-link link-footer'
          %li
            = link_to t('footer.orders'), orders_path, class: 'nav-link link-footer'
          %li
            = link_to t('footer.settings'), new_setting_path, class: 'nav-link link-footer'
      .col-sm-3
        %p.general-nav-mail support@bookstore.com
        %p.general-nav-number (555)-555-5555
