%body
  %main.container
    = link_to url_for(:back), class: 'general-back-link' do
      %i.fa.fa-long-arrow-left.mr-15
      Back to results
    = render partial: 'books/book'
    = render partial: 'books/comments'
