.flash-message {
  height: 50px;
  background: #8dd08d;
  font-size: 20px;
  padding-top: 8px;
  text-align: center;
}
.sign-up {
  margin: auto;
  font-size: 17px;
}
.btn-submit-login-sign-up {
  background: none;
  border: none;
  font-size: 14px;
}
.remember-me {
  font-size: 15px;
}
.email-constructions {
  background: none;
  border: none;
}
.facebook-icon {
  font-size: 30px;
  margin-bottom: 30px;
}
